@media only screen and (max-width: 1200px) {
	.nav {
display: flex;
justify-content: space-between;
margin: 5rem auto 2rem auto;
padding: 2rem 0 0 0;
}

.logo1 {
margin: -45px 0 0 0;
}

.sticky {
  position: fixed;
  top: 0;
  margin-top: 0px;
  background-color: #f2f2f2;
  width: 100%;
}
	.cloud_picture {
	width: 40rem;
   }
   .intro {
   	margin-left: 0;
   	padding: 5rem; 
   }

 .introH1 {
	font-size: 30px;
}

.introp {
  font-size: 15px;
}
.Nouveau {
	border: 1px solid #b3b3b3;
	border-radius: 2rem;
	font-size: 18px;
	padding: 1rem;
}

.non {
	display: none;
}

.bars {
	font-size: 4rem;
	display: block;
	float: right;
}
.nav {
 width: 100%;

}

.partenaires img {
  width: 70rem;
}

.presentation {
  width: 100%;
  padding: 4rem;
}

.laptops {
	padding: 1rem;
}

.laptops img {
  width: 55rem;
}
.laptopsText {
   width: 50%;
}

.laptops img {
   width: 40rem;
}

.laptopsText {
	width: 60%;
	padding: 2rem;

}
.mensuel {
	padding: 1rem 3rem 1rem 3rem; 
}

.annuel {
	padding: 1rem 3rem 1rem 3rem; 
}

.cards {
    grid-column-gap: 5px;
    margin-left: -80px;
}

.icone-text {
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 85%;
	margin: auto;
	grid-gap: 40px;
}

.human-text {
	width: 100%;
	padding-right: 2rem;
}

.human-text img {
    width: 40rem;
}

.last_before_footer {
	width: 100%;
	padding: 5rem;
	grid-gap: .5rem;
}
.collapse_data {
	width: 90%;
}

.last_before_footer {
	display: grid;
	width: 100%;
	grid-template-columns: 1fr 1fr;
	grid-gap: 2rem;
}

.bottom {
	display: flex;
	width: 80%;
	margin: auto;
}

}

@media only screen and (max-width: 680px) {
	.sticky {
  position: fixed;
  top: 0;
  margin-top: 0px;
  background-color: #f2f2f2;
  width: 100%;
}
	.cloud_picture_div {
     display: none;
	}

	.btns {
	margin: 2rem 0 2rem 0;
}

	.presentation {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 2rem;
	width: 90%;
	grid-gap: .5rem;
}

.laptops {
  display: flex;
  flex-direction: column;
}

.laptopsText {
	width: 90%;
}

.mensuel {
	padding: .5rem 1rem .5rem 1rem; 
	font-size: 20px;
}

.annuel {
	padding: .5rem 1rem .5rem 1rem; 
	font-size: 20px;
}

.cards {
  display: grid;
  grid-template-columns: 100%;
  margin: auto;
  width: 100%;
}

.items1 {
	display: none;
	justify-content: center;
}

.tem-a {
  justify-self: center;
}

.collapse_data h3{
	font-size: 18px;
}

.middle {
	width: 90%;
}
.icone-text {
	display: grid;
	grid-template-columns: 1fr;
	width: 85%;
	margin: auto;
	grid-gap: 10px;
}

.human-text {
	display: flex;
	flex-direction: column;
	width: 90%;
	margin: 5rem auto 5rem auto;
}

.human-text img {
	width: 30rem;
}

.chiffre_text {
	margin-bottom: 0;
}

.last_before_footer {
	display: grid;
	width: 100%;
	grid-template-columns: 1fr;
}

.bottom {
	display: flex;
	flex-direction: column;
    width: 70%;
}
}